.wrapper {
}

.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 64px;
  color: #8391a2;
}

.action {
  display: flex;
  align-items: center;
  height: 62px;

  .button {
    width: 100px;
    height: 42px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    right: 32px;
  }
}

.show {
  font-size: 16px;
  margin-right: 10px;
}

.show-select {
  width: 72px;
  height: 32px;
  border: 1px solid #ccc;
}

.table {
  margin-left: 32px;
  font-size: 1.6rem;

  td,
  th {
    width: 400px;
    height: 42px;
    text-align: left;
  }
}

.icon-action {
  padding: 8px;
  cursor: pointer;
  
  &:hover {
    opacity: 0.4;
  }
}

.modal-info{
  margin: 10px 0;
}

.show-modal{
  font-size: 16px;
}

.btn-close{
  font-size: 2rem;
}

.btn-modal{
  width: 70px;
  height: 36px;
  font-size: 14px;
}