.wrapper {
}

.title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 64px;
  color: #8391a2;
}


.show {
  font-size: 16px;
  margin-right: 10px;
}

.show-select {
  width: 72px;
  height: 32px;
  border: 1px solid #ccc;
}

.table {
  margin-left: 32px;
  font-size: 1.6rem;

  td,
  th {
    width: 400px;
    height: 42px;
    text-align: left;
  }
}

.success{
  font-size: 1.4rem;
  width: 86px;
}

.icon-action {
  padding: 8px;
  cursor: pointer;
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }
}