.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin: 16px 0;
  font-size: 32px;
  font-weight: 600;
}

.table {
  font-size: 1.6rem;
  margin: 10px 0px;

  td,
  th {
    width: 400px;
    height: 42px;
    text-align: left;
  }
}

.button {
  --color: #00a97f;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

.button::before,
.button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: rgb(10, 25, 30);
  border: 1px solid #00a97f;
}

.button:active {
  filter: brightness(0.8);
}

.modal {
  width: 100%;
  padding: 10px 20px;
}

.modal-title {
  font-size: 32px;
}

.modal-close {
  font-size: 24px !important;
}

.modal-btn {
  padding: 10px 32px;
  font-size: 14px;
}

.form-title {
  font-size: 16px;
}

.form-input {
  width: 100%;
  height: 42px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid rgba($color: #000000, $alpha: 0.2);

  &:focus {
    outline: none;
  }
}

.form-textarea {
  width: 100%;
  height: 100px !important;
  padding: 10px 16px;
  font-size: 16px;
  border: 1px solid rgba($color: #000000, $alpha: 0.2);

  &:focus {
    outline: none;
  }
}
