.container {
}

.menu-item {
  width: 100%;
  display: flex !important;
  font-size: 1.6rem !important;
  padding: 16px 0 16px 30px !important;
  background-color: transparent;
  color: #8391a2;

  &.active {
    color: #fff;
    
      .icon {
        display: none;
      }
    
      .active-icon {
        display: flex;
        align-items: center;
      }
  }

  &:hover {
    color: #c6ced8;
  }
}

.icon {
  display: flex;
  align-items: center;
}

.active-icon {
  display: none;
}

.title {
  margin-left: 12px;
}

.collapse-item{
  margin-left: 30px;
}
