.wrapper {
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  user-select: none;

  .title {
    color: #8ecddd;
    line-height: 72px;
    font-weight: 700;
    font-size: 3.2rem;
  }
}
