.wrapper {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
  user-select: none;
  margin-top: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-right: 5px;
}

.username {
  font-size: 14px;
}

.menu-item {
  min-height: 100px;
  width: 200px;
  border: 1px solid rgba($color: #919191, $alpha: 0.3);
  box-shadow: 4px 4px 5px #aaaaaa;
  border-radius: 10px;
  background-color: #fff;
}

.menu-link {
  display: block;
  font-size: 14px;
  color: #000000;
  padding: 10px 16px;

  &:hover {
    color: #00000070;
  }
}

.btn-login {
  width: 100px;
  height: 42px;
  font-size: 14px !important;
}
