.wrapper {
  width: 20%;
  height: 100vh;
  background-color: #313a46;
  user-select: none;
  position: fixed;
}

.title {
  color: #8ecddd;
  line-height: 72px;
  font-weight: 700;
  font-size: 3.2rem;
  text-align: center;
}
